*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(4, 4, 4);
    text-align: center;

}
#nav{
    height: 60px;
    width: 100%;
    background-color:rgb(36, 36, 36);
   display: flex;
  align-items: center;
    justify-content: center;
    gap: 20px
    ;
    font-weight: 1000px;

}
 #nav h4{
    color: rgb(251, 250, 250)
    
    
}
#center{
    height: 100%;
    width:100%;
   padding: 20px;
   background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
   background-size: cover;
   background-position: center;
   font-weight: 300px;
}
#center h1{
color: white;
font-size: 80px;
font-weight: 300px;
}
#center h5{

color: white;
font-size: 40px;
font-weight: 2000px;
margin-bottom: 20px;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 67%;
    left: 40%;
    padding: 20px;
    
    gap:30px;
   
}
button{
    background-color: royalblue;
    color: white;
    padding: 15px 24px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 30px;
    border: none;
}
